<a href="https://colab.research.google.com/github/dfd5275/Project-2/blob/main/PROJECT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#to hide output of this cell
%%capture

!pip install ipython-sql
!pip install databases
!pip install databases[sqlite]

In [ ]:
import sqlalchemy
%load_ext sql
%sql sqlite:///projectdb.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @projectdb.db'

In [ ]:
%%sql

DROP TABLE IF EXISTS [GuestStatus];
CREATE TABLE [GuestStatus] (
  [guestStatusID] INTEGER PRIMARY KEY,
  [status] nvarchar(250) NOT NULL
);

DROP TABLE IF EXISTS [ShoppingCart];
  CREATE TABLE [ShoppingCart] (
    [shoppingCartID] INTEGER PRIMARY KEY,
    [categoryID] int NOT NULL,
    [productID] int NOT NULL,
    FOREIGN KEY ([categoryID]) REFERENCES [Categories]([categoryID]) ON DELETE SET NULL,
    FOREIGN KEY ([productID]) REFERENCES [Products]([productID]) ON DELETE SET NULL
);

DROP TABLE IF EXISTS [Categories];
CREATE TABLE [Categories] (
  [categoryID] INTEGER PRIMARY KEY,
  [categories] nvarchar(250) NOT NULL
);

DROP TABLE IF EXISTS[Events];
CREATE TABLE [Events] (
  [eventID] INTEGER PRIMARY KEY,
  [event] nvarchar(250) NOT NULL,
  [categoryID] int,
  [eventOptions] nvarchar(250) NOT NULL,
  [eventOptionsInventory] int,
  FOREIGN KEY ([categoryID]) REFERENCES [Categories]([categoryID]) ON DELETE SET NULL
);

DROP TABLE IF EXISTS [Guest];
CREATE TABLE [Guest] (
  [guestID] INTEGER PRIMARY KEY,
  [guestStatusID] int,
  [shoppingCartID] int NOT NULL,
  FOREIGN KEY ([guestStatusID]) REFERENCES [GuestStatus]([guestStatusID]) ON DELETE SET NULL,
  FOREIGN KEY ([shoppingCartID]) REFERENCES [ShoppingCart]([shoppingCartID]) ON DELETE SET NULL
);

DROP TABLE IF EXISTS [MemberPayInfo];
CREATE TABLE [MemberPayInfo] (
  [memberPayInfoID] INTEGER PRIMARY KEY,
  [memberNameOnCard] nvarchar(250) NOT NULL, 
  [memberCardNumber] nvarchar(250) NOT NULL,
  [memberCardExpiration] nvarchar(250) NOT NULL,
  [memberCardCSV] nvarchar(250) NOT NULL
);

DROP TABLE IF EXISTS [MemberInfo];
CREATE TABLE [MemberInfo] (
  [memberID] INTEGER PRIMARY KEY,
  [guestID] int,
  [memberFirstName] nvarchar(250) NOT NULL,
  [memberLastName] nvarchar(250) NOT NULL,
  [memberEmail] nvarchar(250) NOT NULL,
  [memberPhoneNumber] nvarchar(250) NOT NULL,
  [memberAddress] nvarchar(250) NOT NULL,
  [memberPayInfoID] int,
  FOREIGN KEY ([guestID]) REFERENCES [Guest]([guestID]) ON DELETE SET NULL,
  FOREIGN KEY ([memberPayInfoID]) REFERENCES [MemberPayInfo]([memberPayInfoID]) ON DELETE SET NULL
);

DROP TABLE IF EXISTS [ContactUs];
CREATE TABLE [ContactUs] (
  [contactID] INTEGER PRIMARY KEY,
  [helpCenterEmail] nvarchar(250) NOT NULL
);

DROP TABLE IF EXISTS [Craigslist];
CREATE TABLE [Craigslist] (
  [guestID] INTEGER PRIMARY KEY,
  [memberID] int,
  [termsOfService] nvarchar(250) NOT NULL,
  [helpCenter] nvarchar(250) NOT NULL,
  [accessibility] nvarchar(250) NOT NULL,
  [contactID] int,
  FOREIGN KEY ([guestID]) REFERENCES [Guest]([guestID]) ON DELETE SET NULL,
  FOREIGN KEY ([memberID]) REFERENCES [MemberInfo]([memberID]) ON DELETE SET NULL,
  FOREIGN KEY ([contactID]) REFERENCES [ContactUs]([contactID]) ON DELETE SET NULL
);

 * sqlite:///projectdb.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql

PRAGMA foreign_keys;

 * sqlite:///projectdb.db
Done.

[(1,)]

In [ ]:
#Enable foreign key contraints

%%sql

PRAGMA foreign_keys = ON;

 * sqlite:///projectdb.db
Done.

[]

In [ ]:
print('GuestStatus')
%sql pragma table_info('GuestStatus');

GuestStatus
 * sqlite:///projectdb.db
Done.

[(0, 'guestStatusID', 'INTEGER', 0, None, 1),
 (1, 'status', 'nvarchar(250)', 1, None, 0)]

In [ ]:
print('Categories')
%sql pragma table_info('Categories');

Categories
 * sqlite:///projectdb.db
Done.

[(0, 'categoryID', 'INTEGER', 0, None, 1),
 (1, 'categories', 'nvarchar(250)', 1, None, 0)]

In [ ]:
print('Events')
%sql pragma table_info('Events');

Events
 * sqlite:///projectdb.db
Done.

[(0, 'eventID', 'INTEGER', 0, None, 1),
 (1, 'event', 'nvarchar(250)', 1, None, 0),
 (2, 'categoryID', 'int', 0, None, 0),
 (3, 'eventOptions', 'nvarchar(250)', 1, None, 0),
 (4, 'eventOptionsInventory', 'int', 0, None, 0)]

In [ ]:
print('Guest')
%sql pragma table_info('Guest');

Guest
 * sqlite:///projectdb.db
Done.

[(0, 'guestID', 'INTEGER', 0, None, 1),
 (1, 'guestStatusID', 'int', 0, None, 0)]

In [ ]:
print('MemberPayInfo')
%sql pragma table_info('MemberPayInfo');

MemberPayInfo
 * sqlite:///projectdb.db
Done.

[(0, 'memberPayInfoID', 'INTEGER', 0, None, 1),
 (1, 'memberNameOnCard', 'nvarchar(250)', 1, None, 0),
 (2, 'memberCardNumber', 'nvarchar(250)', 1, None, 0),
 (3, 'memberCardExpiration', 'nvarchar(250)', 1, None, 0),
 (4, 'memberCardCSV', 'nvarchar(250)', 1, None, 0)]

In [ ]:
print('MemberInfo')
%sql pragma table_info('MemberInfo');

MemberInfo
 * sqlite:///projectdb.db
Done.

[(0, 'memberID', 'INTEGER', 0, None, 1),
 (1, 'guestID', 'int', 0, None, 0),
 (2, 'memberFirstName', 'nvarchar(250)', 1, None, 0),
 (3, 'memberLastName', 'nvarchar(250)', 1, None, 0),
 (4, 'memberEmail', 'nvarchar(250)', 1, None, 0),
 (5, 'memberPhoneNumber', 'nvarchar(250)', 1, None, 0),
 (6, 'memberAddress', 'nvarchar(250)', 1, None, 0),
 (7, 'memberPayInfoID', 'int', 0, None, 0)]

In [ ]:
print('ContactUs')
%sql pragma table_info('ContactUs');

ContactUs
 * sqlite:///projectdb.db
Done.

[(0, 'contactID', 'INTEGER', 0, None, 1),
 (1, 'helpCenterEmail', 'nvarchar(250)', 1, None, 0)]

In [ ]:
print('Craigslist')
%sql pragma table_info('Craigslist');

Craigslist
 * sqlite:///projectdb.db
Done.

[(0, 'guestID', 'INTEGER', 0, None, 1),
 (1, 'memberID', 'int', 0, None, 0),
 (2, 'termsOfService', 'nvarchar(250)', 1, None, 0),
 (3, 'helpCenter', 'nvarchar(250)', 1, None, 0),
 (4, 'accessibility', 'nvarchar(250)', 1, None, 0),
 (5, 'contactID', 'int', 0, None, 0)]

In [ ]:
%%sql

INSERT INTO GuestStatus([status]) VALUES ('Member');
INSERT INTO GuestStatus([status]) VALUES ('Guest');

 * sqlite:///projectdb.db
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
SELECT *
FROM GuestStatus;

 * sqlite:///projectdb.db
Done.

[(1, 'Member'), (2, 'Guest')]

In [ ]:
%%sql

INSERT INTO Categories([categories]) VALUES ('Community');
INSERT INTO Categories([categories]) VALUES ('Services');
INSERT INTO Categories([categories]) VALUES ('Discussion Forums');
INSERT INTO Categories([categories]) VALUES ('Housing');
INSERT INTO Categories([categories]) VALUES ('For Sale');
INSERT INTO Categories([categories]) VALUES ('Jobs');
INSERT INTO Categories([categories]) VALUES ('Gigs');
INSERT INTO Categories([categories]) VALUES ('Resumes');

 * sqlite:///projectdb.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
SELECT *
FROM Categories;

 * sqlite:///projectdb.db
Done.

[(1, 'Community'),
 (2, 'Services'),
 (3, 'Discussion Forums'),
 (4, 'Housing'),
 (5, 'For Sale'),
 (6, 'Jobs'),
 (7, 'Gigs'),
 (8, 'Resumes')]

In [ ]:
%%sql

INSERT INTO Events([event],[categoryID],[eventOptions],[eventOptionsInventory]) VALUES ('activities',1,'table tennis',9);
INSERT INTO Events([event],[categoryID],[eventOptions],[eventOptionsInventory]) VALUES ('automative',2,'detailing',3);
INSERT INTO Events([event],[categoryID],[eventOptions],[eventOptionsInventory]) VALUES ('apts/housing',3,'townhouse',311);
INSERT INTO Events([event],[categoryID],[eventOptions],[eventOptionsInventory]) VALUES ('apple',4,'investment',8);
INSERT INTO Events([event],[categoryID],[eventOptions],[eventOptionsInventory]) VALUES ('antiques',5,'painting',130);
INSERT INTO Events([event],[categoryID],[eventOptions],[eventOptionsInventory]) VALUES ('computer',6,'replace parts',4);
INSERT INTO Events([event],[categoryID],[eventOptions],[eventOptionsInventory]) VALUES ('security',7,'officer',1);
INSERT INTO Events([event],[categoryID],[eventOptions],[eventOptionsInventory]) VALUES ('caregiver',8,'in-home',7);

 * sqlite:///projectdb.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
SELECT *
FROM Events;

 * sqlite:///projectdb.db
Done.

[(1, 'activities', 1, 'table tennis', 9),
 (2, 'activities', 1, 'table tennis', 9),
 (3, 'automative', 2, 'detailing', 3),
 (4, 'apts/housing', 3, 'townhouse', 311),
 (5, 'apple', 4, 'investment', 8),
 (6, 'antiques', 5, 'painting', 130),
 (7, 'computer', 6, 'replace parts', 4),
 (8, 'security', 7, 'officer', 1),
 (9, 'caregiver', 8, 'in-home', 7)]

In [ ]:
%%sql

INSERT INTO Guest([guestStatusID]) VALUES (1);
INSERT INTO Guest([guestStatusID]) VALUES (2);
INSERT INTO Guest([guestStatusID]) VALUES (3);
INSERT INTO Guest([guestStatusID]) VALUES (4);
INSERT INTO Guest([guestStatusID]) VALUES (5);
INSERT INTO Guest([guestStatusID]) VALUES (6);
INSERT INTO Guest([guestStatusID]) VALUES (7);
INSERT INTO Guest([guestStatusID]) VALUES (8);

 * sqlite:///projectdb.db
1 rows affected.
1 rows affected.

IntegrityError: ignored

In [ ]:
%%sql
SELECT * 
FROM Guest;

 * sqlite:///projectdb.db
Done.

[(1, 1), (2, 2), (3, 1), (4, 2)]

In [ ]:
%%sql

INSERT INTO MemberPayInfo([memberNameOnCard],[memberCardNumber],[memberCardExpiration],[memberCardCSV]) VALUES ('Mackenzie Thomas','1','1/1','111');
INSERT INTO MemberPayInfo([memberNameOnCard],[memberCardNumber],[memberCardExpiration],[memberCardCSV]) VALUES ('Chase Clingman','2','2/2','211');
INSERT INTO MemberPayInfo([memberNameOnCard],[memberCardNumber],[memberCardExpiration],[memberCardCSV]) VALUES ('Dylan DeLange','3','3/3','311');
INSERT INTO MemberPayInfo([memberNameOnCard],[memberCardNumber],[memberCardExpiration],[memberCardCSV]) VALUES ('Jake Clark','4','4/1','411');
INSERT INTO MemberPayInfo([memberNameOnCard],[memberCardNumber],[memberCardExpiration],[memberCardCSV]) VALUES ('Hanna Laker','5','5/1','511');
INSERT INTO MemberPayInfo([memberNameOnCard],[memberCardNumber],[memberCardExpiration],[memberCardCSV]) VALUES ('Bill Jones','6','6/1','611');
INSERT INTO MemberPayInfo([memberNameOnCard],[memberCardNumber],[memberCardExpiration],[memberCardCSV]) VALUES ('John Blake','7','7/1','711');
INSERT INTO MemberPayInfo([memberNameOnCard],[memberCardNumber],[memberCardExpiration],[memberCardCSV]) VALUES ('Maddy Bailey','8','8/1','811');

 * sqlite:///projectdb.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
SELECT * 
FROM MemberPayInfo;

 * sqlite:///projectdb.db
Done.

[(1, 'Mackenzie Thomas', '1', '1/1', '111'),
 (2, 'Chase Clingman', '2', '2/2', '211'),
 (3, 'Dylan DeLange', '3', '3/3', '311'),
 (4, 'Jake Clark', '4', '4/1', '411'),
 (5, 'Hanna Laker', '5', '5/1', '511'),
 (6, 'Bill Jones', '6', '6/1', '611'),
 (7, 'John Blake', '7', '7/1', '711'),
 (8, 'Maddy Bailey', '8', '8/1', '811')]

In [ ]:
%%sql

INSERT INTO MemberInfo([guestID],[memberFirstName],[memberLastName],[memberEmail],[memberPhoneNumber],[memberAddress],[memberPayInfoID]) VALUES (1,'Mackenzie','Thomas','met@gmail.com','1002003000','123 Thomas Rd',11);
INSERT INTO MemberInfo([guestID],[memberFirstName],[memberLastName],[memberEmail],[memberPhoneNumber],[memberAddress],[memberPayInfoID]) VALUES (2,'Chase','Clingman','cc@gmail.com','2003004000','234 Clingman Rd',22);
INSERT INTO MemberInfo([guestID],[memberFirstName],[memberLastName],[memberEmail],[memberPhoneNumber],[memberAddress],[memberPayInfoID]) VALUES (3,'Dylan','DeLange','dd@gmail.com','3004005000','345 DeLange Rd',33);
INSERT INTO MemberInfo([guestID],[memberFirstName],[memberLastName],[memberEmail],[memberPhoneNumber],[memberAddress],[memberPayInfoID]) VALUES (4,'Jake','Clark','jc@gmail.com','4005006000','456 Clark Rd',44);
INSERT INTO MemberInfo([guestID],[memberFirstName],[memberLastName],[memberEmail],[memberPhoneNumber],[memberAddress],[memberPayInfoID]) VALUES (5,'Hanna','Laker','hl@gmail.com','5006007000','567 Laker Rd',55);
INSERT INTO MemberInfo([guestID],[memberFirstName],[memberLastName],[memberEmail],[memberPhoneNumber],[memberAddress],[memberPayInfoID]) VALUES (6,'Bill','Jones','bjones@gmail.com','6007008000','678 Jones Rd'66);
INSERT INTO MemberInfo([guestID],[memberFirstName],[memberLastName],[memberEmail],[memberPhoneNumber],[memberAddress],[memberPayInfoID]) VALUES (7,'John','Blake','jblake@gmail.com','7008009000','789 Blake Rd',77);
INSERT INTO MemberInfo([guestID],[memberFirstName],[memberLastName],[memberEmail],[memberPhoneNumber],[memberAddress],[memberPayInfoID]) VALUES (8,'Maddy','Bailey','mb@gmail.com','9001101200','910 Bailey Rd',88);

 * sqlite:///projectdb.db

IntegrityError: ignored

In [ ]:
%%sql
SELECT *
FROM MemberInfo;

 * sqlite:///projectdb.db
Done.

[]

In [ ]:
%%sql

INSERT INTO ContactUs([helpCenterEmail]) VALUES ('help@craigslist.com');
INSERT INTO ContactUs([helpCenterEmail]) VALUES ('help@craigslist.com');
INSERT INTO ContactUs([helpCenterEmail]) VALUES ('help@craigslist.com');
INSERT INTO ContactUs([helpCenterEmail]) VALUES ('help@craigslist.com');
INSERT INTO ContactUs([helpCenterEmail]) VALUES ('help@craigslist.com');
INSERT INTO ContactUs([helpCenterEmail]) VALUES ('help@craigslist.com');
INSERT INTO ContactUs([helpCenterEmail]) VALUES ('help@craigslist.com');
INSERT INTO ContactUs([helpCenterEmail]) VALUES ('help@craigslist.com');

 * sqlite:///projectdb.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [ ]:
%%sql
SELECT * 
FROM ContactUs;

 * sqlite:///projectdb.db
Done.

[(1, 'help@craigslist.com'),
 (2, 'help@craigslist.com'),
 (3, 'help@craigslist.com'),
 (4, 'help@craigslist.com'),
 (5, 'help@craigslist.com'),
 (6, 'help@craigslist.com'),
 (7, 'help@craigslist.com'),
 (8, 'help@craigslist.com')]

In [ ]:
%%sql

INSERT INTO Craigslist([termsOfService],[helpCenter],[accessibility]) VALUES ('IMPORTANT','1','1');
INSERT INTO Craigslist([termsOfService],[helpCenter],[accessibility]) VALUES ('IMPORTANT','2','2');
INSERT INTO Craigslist([termsOfService],[helpCenter],[accessibility]) VALUES ('IMPORTANT','3','3');
INSERT INTO Craigslist([termsOfService],[helpCenter],[accessibility]) VALUES ('IMPORTANT','4','4');
INSERT INTO Craigslist([termsOfService],[helpCenter],[accessibility]) VALUES ('IMPORTANT','5','5');
INSERT INTO Craigslist([termsOfService],[helpCenter],[accessibility]) VALUES ('IMPORTANT','6','6');
INSERT INTO Craigslist([termsOfService],[helpCenter],[accessibility]) VALUES ('IMPORTANT','7','7');
INSERT INTO Craigslist([termsOfService],[helpCenter],[accessibility]) VALUES ('IMPORTANT','8','8');

 * sqlite:///projectdb.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

IntegrityError: ignored

In [ ]:
%%sql
SELECT * 
FROM Craigslist;

 * sqlite:///projectdb.db
Done.

[(1, None, 'IMPORTANT', '1', '1', None),
 (2, None, 'IMPORTANT', '2', '2', None),
 (3, None, 'IMPORTANT', '3', '3', None),
 (4, None, 'IMPORTANT', '4', '4', None)]